@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.listCard {
  border: $border;
  padding: $space-md;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s ease;

  &:hover {
    background: $black;
    color: $white;
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: $space-md;
    filter: grayscale(100%);
    border: $border;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: $space-sm;
    font-weight: 500;
    letter-spacing: -1px;
  }

  p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  button {
    margin-top: $space-md;

    @include button-base;
  }
}
